#contact {
  text-align: center;
}

.icons {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.linkedin-logo {
  margin-right: 10px;
}

.github-logo {
  margin-left: 10px;
}