.previous-experience-panel {
  border-style: groove;
  border-color: aqua;
  margin-bottom: 40px;
  margin-right: 5px;
  margin-left: 5px;
  padding-left: 7px;
  padding-right: 7px;
  background-color: rgba(32, 32, 32, 0.5);
  box-shadow: 0 0 10px 5px aqua;
}