.welcome-text-container {
  color: white;
  font-size: 2em;
  margin-left: 5px;
}

.highlight-text {
  color: aqua;
}

#welcome {
  height: 100vh;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 500px) {
  .welcome-text-container {
    font-size: 5vw;
  }
}